display size is 1280 by 1024

# if cursors are enabled, then a software surface is created and used
# such that the applications write to a non volitile image, which is then 
# updated and overwritten with the mouse data to the physical device...

Soft Cursor image dimple.png # if this is specifed use this as a cursor...
Soft Cursor behave down  # single word: down, up, always, ondown(?), onup(?)

# these settings are nice and all, but need to be migrated over to PSI.

system color HIGHLIGHT                ( 192, 192, 192 ) # highlight
system color NORMAL                   ( 53, 96, 89 )    # normal
system color SHADE                    ( 35, 63, 57 )    # shade
system color SHADOW    			        ( 0, 0, 1 )       # shadow
system color TEXTCOLOR 			        ( 0, 240, 240 )   # text
system color CAPTION   			        ( 88,124,200 )    # caption background
system color CAPTIONTEXTCOLOR         ( 240, 240, 240 ) # cannot be black(0). caption text
system color INACTIVECAPTION          ( 89, 120, 120 )  # inactive caption background
system color INACTIVECAPTIONTEXTCOLOR ( 0, 0, 1 )       # inactive caption text (not black)
system color SELECT_BACK              ( 0, 0, 128 )     # text select background
system color SELECT_TEXT              ( 220, 220, 220 ) # text select foreground
system color EDIT_BACKGROUND 	        ( 192, 192, 192 ) # edit background
system color EDIT_TEXT                ( 0, 0, 1 )       # edit text
system color SCROLLBAR_BACK           ( 120, 120, 180 ) # scroll bar...

