round button mono shade
round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

roune button mono shade
roune button glare=
roune button up=
roune button down=
roune button mask=

square button glare=images/glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


<plugin filemask='alpha2.isom'>
<plugin_load system='*'>
<plugin filemask='clock.isom'>
<plugin_load system='*'>
<plugin filemask='link_state.isom'>
<plugin_load system='*'>
<plugin filemask='legacy_interface.isom'>
<plugin_load system='*'>
Bingo Game Type Button highlight Color=$00000000
Bingo Game Type Button border Color=$00000000
flashboard color ball=$00000000 $ff808080 $ff000000
flashboard color ball text=$00000000 $ff000000 $ff808080
flashboard color hotball=$00000000 $ffcc6007 $ffffffff
flashboard color hotball_text=$00000000 $ff000000 $ff808080
flashboard color marked ball=$00000000 $ffc02020 $ff000000
flashboard color marked ball text=$00000000 $ffffffff $ff808080
flashboard color marked hotball=$00000000 $ffffff00 $ff808080
flashboard color marked hotball_text=$00000000 $ffffffff $ff808080
font preset Big Label Font=[8100bdkig1000000000000000U2000w900003000000000MrT6.2h000004AsF56r08lpDl7rx970KYypLV6tP.1ioOBmoIV2tQp60}
font preset Status Label Font=[7100bdkig10000g0000000000o10000500003000000000MrT6.2h000004AsF56r08QrIh60KYypLV6tP.1ioOBmoI96pKg7tC100}
font preset Card verifier font={}
font preset Card NO DATA Font={}
Sound ball 1=sounds/balls/75/B1.wav
Sound ball 2=sounds/balls/75/B2.wav
Sound ball 3=sounds/balls/75/B3.wav
Sound ball 4=sounds/balls/75/B4.wav
Sound ball 5=sounds/balls/75/B5.wav
Sound ball 6=sounds/balls/75/B6.wav
Sound ball 7=sounds/balls/75/B7.wav
Sound ball 8=sounds/balls/75/B8.wav
Sound ball 9=sounds/balls/75/B9.wav
Sound ball 10=sounds/balls/75/B10.wav
Sound ball 11=sounds/balls/75/B11.wav
Sound ball 12=sounds/balls/75/B12.wav
Sound ball 13=sounds/balls/75/B13.wav
Sound ball 14=sounds/balls/75/B14.wav
Sound ball 15=sounds/balls/75/B15.wav
Sound ball 16=sounds/balls/75/I16.wav
Sound ball 17=sounds/balls/75/I17.wav
Sound ball 18=sounds/balls/75/I18.wav
Sound ball 19=sounds/balls/75/I19.wav
Sound ball 20=sounds/balls/75/I20.wav
Sound ball 21=sounds/balls/75/I21.wav
Sound ball 22=sounds/balls/75/I22.wav
Sound ball 23=sounds/balls/75/I23.wav
Sound ball 24=sounds/balls/75/I24.wav
Sound ball 25=sounds/balls/75/I25.wav
Sound ball 26=sounds/balls/75/I26.wav
Sound ball 27=sounds/balls/75/I27.wav
Sound ball 28=sounds/balls/75/I28.wav
Sound ball 29=sounds/balls/75/I29.wav
Sound ball 30=sounds/balls/75/I30.wav
Sound ball 31=sounds/balls/75/N31.wav
Sound ball 32=sounds/balls/75/N32.wav
Sound ball 33=sounds/balls/75/N33.wav
Sound ball 34=sounds/balls/75/N34.wav
Sound ball 35=sounds/balls/75/N35.wav
Sound ball 36=sounds/balls/75/N36.wav
Sound ball 37=sounds/balls/75/N37.wav
Sound ball 38=sounds/balls/75/N38.wav
Sound ball 39=sounds/balls/75/N39.wav
Sound ball 40=sounds/balls/75/N40.wav
Sound ball 41=sounds/balls/75/N41.wav
Sound ball 42=sounds/balls/75/N42.wav
Sound ball 43=sounds/balls/75/N43.wav
Sound ball 44=sounds/balls/75/N44.wav
Sound ball 45=sounds/balls/75/N45.wav
Sound ball 46=sounds/balls/75/G46.wav
Sound ball 47=sounds/balls/75/G47.wav
Sound ball 48=sounds/balls/75/G48.wav
Sound ball 49=sounds/balls/75/G49.wav
Sound ball 50=sounds/balls/75/G50.wav
Sound ball 51=sounds/balls/75/G51.wav
Sound ball 52=sounds/balls/75/G52.wav
Sound ball 53=sounds/balls/75/G53.wav
Sound ball 54=sounds/balls/75/G54.wav
Sound ball 55=sounds/balls/75/G55.wav
Sound ball 56=sounds/balls/75/G56.wav
Sound ball 57=sounds/balls/75/G57.wav
Sound ball 58=sounds/balls/75/G58.wav
Sound ball 59=sounds/balls/75/G59.wav
Sound ball 60=sounds/balls/75/G60.wav
Sound ball 61=sounds/balls/75/O61.wav
Sound ball 62=sounds/balls/75/O62.wav
Sound ball 63=sounds/balls/75/O63.wav
Sound ball 64=sounds/balls/75/O64.wav
Sound ball 65=sounds/balls/75/O65.wav
Sound ball 66=sounds/balls/75/O66.wav
Sound ball 67=sounds/balls/75/O67.wav
Sound ball 68=sounds/balls/75/O68.wav
Sound ball 69=sounds/balls/75/O69.wav
Sound ball 70=sounds/balls/75/O70.wav
Sound ball 71=sounds/balls/75/O71.wav
Sound ball 72=sounds/balls/75/O72.wav
Sound ball 73=sounds/balls/75/O73.wav
Sound ball 74=sounds/balls/75/O74.wav
Sound ball 75=sounds/balls/75/O75.wav
Link State ODBC DSN=MySQL
Link Master Color $FF5151E5
Link No Master Color $FF525252
Link Participant Color $FF4FF14E
Link Delegate Color $FFF7B54C
Seconds Between Keypresses 0
card text = $FFB0B0B0
card marked text = $FF000000
card marked called text = $FF849400
card marked nowin text = $FF4242B4
card daub = (null)
card time = 0
font preset Card verifier font={}
font preset Card NO DATA Font={}
font preset Card verifier font={}
font preset Card NO DATA Font={}
font preset Card verifier font={}
font preset Card NO DATA Font={}
wait for caller? no
font preset Card verifier font={}
font preset Card NO DATA Font={}
font preset Card verifier font={}
font preset Card NO DATA Font={}
font preset Card verifier font={}
font preset Card NO DATA Font={}
font preset Card verifier font={}
font preset Card NO DATA Font={}
font preset Card verifier font={}
font preset Card NO DATA Font={}
font preset Card verifier font={}
font preset Card NO DATA Font={}
# Begin XML Expirament
# 

page layout 40 by 40
#background color $0
#background image 
control generic Clock at 27,1 sized 9,10
Clock color=$FFFFFFFF
Clock back color=$FF000080
Clock background image=
Clock is analog?Yes
Clock analog image=images/clock.png
Clock analog description=[g100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000}
color=$FF000080
text color=$FFFFFFFF
button is DEFAULT
control done

control generic Caller/Show Flashboard Controller at 26,29 sized 5,5
color=$FF000080
text color=$FFFFFFFF
text=show_Flash_Control
button is bicolor square
next page=-- NONE --
control done

control generic Caller/Flashboard at 2,0 sized 16,7
flashboard ball=images/rack/BingoBall.png
flashboard text='images/rack/balltext3.png' 90 numbers in 10 rows and 10 columns
<flashboard background="images/rack/Rack1.png" rows="5" cols="15" vertical="No">
flashboard color ball=$00000000 $ff808080 $ff000000
flashboard color ball text=$00000000 $ff000000 $ff808080
flashboard color hotball=$00000000 $ffcc6007 $ffffffff
flashboard color hotball_text=$00000000 $ff000000 $ff808080
flashboard color marked ball=$00000000 $ffc02020 $ff000000
flashboard color marked ball text=$00000000 $ffffffff $ff808080
flashboard color marked hotball=$00000000 $ffffff00 $ff808080
flashboard color marked hotball_text=$00000000 $ffffffff $ff808080
control done

control generic Text Label at 1,8 sized 15,2
color=$00000000
align center?off
align right?off
align vertical?off
align inverted?off
font name=Status Label Font
label=Hall 1: %<Hall State:test1>
control done

control generic Text Label at 1,10 sized 15,2
color=$00000000
align center?off
align right?off
align vertical?off
align inverted?off
font name=Status Label Font
label=Hall 2: %<Hall State:test2>
control done

control generic Enable Participant at 1,14 sized 7,5
button mode=Enable Link
hall name=test1
color=$FF525252
secondary color=$FF3F0A0A
text color=$FFFFFFFF
text=Hall 1
button is bicolor square
control done

control generic Enable Participant at 9,14 sized 7,5
button mode=Enable Link
hall name=test2
color=$FF525252
secondary color=$FF3F0A0A
text color=$FFFFFFFF
text=Hall 2
button is bicolor square
control done

control generic Enable Participant at 1,20 sized 7,5
button mode=Disable Host(Master)
hall name=
color=$FF77967C
secondary color=$FF005700
text color=$FFFFFFFF
text=Reset_Link
button is bicolor square
control done

control generic Caller/Pattern at 19,0 sized 7,7
control done

control generic Caller/Catch-up at 20,7 sized 6,4
color=$FFCC6007
secondary color=$FF000000
text color=$FFFFFFFF
text=Catch-Up_USB
button is bicolor square
control done

control generic Text Label at 21,12 sized 13,2
color=$00000000
align center?off
align right?off
align vertical?off
align inverted?off
font name=Big Label Font
label=%<system name>
control done

page titled Generic Error
page layout 40 by 40
#background color $0
#background image 
control generic Text Label at 7,5 sized 25,4
color=$FFB38200
align center?off
align right?off
align vertical?off
align inverted?off
font name=Big Label Font
label=GENERIC ERROR
control done

control generic Page/Page Changer at 11,15 sized 5,4
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Main_Page
button is bicolor square
next page=first
control done

page titled Insert Failed
page layout 40 by 40
#background color $0
#background image 
control generic Text Label at 7,5 sized 25,4
color=$FFB38200
align center?off
align right?off
align vertical?off
align inverted?off
font name=Big Label Font
label=INSERT FAILED
control done

control generic Page/Page Changer at 11,15 sized 5,4
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Main_Page
button is bicolor square
next page=first
control done

page titled Select Failed
page layout 40 by 40
#background color $0
#background image 
control generic Text Label at 7,5 sized 25,4
color=$FFB38200
align center?off
align right?off
align vertical?off
align inverted?off
font name=Big Label Font
label=SELECT FAILED
control done

control generic Page/Page Changer at 11,15 sized 5,4
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Main_Page
button is bicolor square
next page=first
control done

page titled Update Failed
page layout 40 by 40
#background color $0
#background image 
control generic Text Label at 7,5 sized 25,4
color=$FFB38200
align center?off
align right?off
align vertical?off
align inverted?off
font name=Big Label Font
label=UPDATE FAILED
control done

control generic Page/Page Changer at 11,15 sized 5,4
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Main_Page
button is bicolor square
next page=first
control done

page titled Get My Hall Failed
page layout 40 by 40
#background color $0
#background image 
control generic Text Label at 7,5 sized 25,4
color=$FFB38200
align center?off
align right?off
align vertical?off
align inverted?off
font name=Big Label Font
label=CAN'T FIND MY HALL
control done

control generic Page/Page Changer at 11,15 sized 5,4
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Main_Page
button is bicolor square
next page=first
control done

Canvas Done
