[config]
page layout 5 by 5



DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=

round button glare=
round button up=round_ridge_up.png
round button down=round_ridge_down.png
round button mask=round_mask.png

square button glare=#glare.jpg
square button up=default-Lens.png
square button down=Pressed-Lens.png
square button mask=colorlayer.png

bicolor square button glare=
bicolor square button up=defaultLens.png
bicolor square button down=pressedLens.png
bicolor square button mask=colorLayer.png


font preset Item Name Font={}
font preset Item Quantity Font={}
font preset Item Price Font={8100bdkig1000000000000000o1000w600000000000000wg1e8HfRCN14AsF56r08lpDl7rx970KYypLV6tPZioOBmoIV2tQp60}
font preset Label Font={c100bdkig90000g0000000000M2000Md00003000000000wg1e8HfRCN1cQrR9nqB978elSt08QrIh60KYypLV6tPZOoLlDsyhCbQhDp0000}
# Issue Data here...
done
#Command Shell
#program=cmd.exe
#path=c:\ftn3000\working
#args=


#auto caller task
#  define a standard task here with program=, path=, and optional args=
#  auto caller tasks run when the caller comes up - good time for synctime.


#auto task
#  define a standard task here with program=, path=, and optional args=
#  auto tasks run as soon before the menu displays.


wait for caller? no

#background color $0
background image hall_id
control generic Enable Participant at 5,3 sized 9,8
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Boulder Station
button is bicolor square
next page=-- NONE -- 
button mode=Select Host(Master)
hall name=BoulderStation
control done

control generic Enable Participant at 15,3 sized 9,8
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Texas Station
button is bicolor square
next page=-- NONE -- 
button mode=Select Host(Master)
hall name=TexasStation
control done

control generic Enable Participant at 25,3 sized 9,8
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Sunset Station
button is bicolor square
next page=-- NONE -- 
button mode=Select Host(Master)
hall name=SunsetStation
control done

control generic Enable Participant at 5,12 sized 9,8
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Red Rock
button is bicolor square
button mode=Select Host(Master)
hall name=RedRock
control done

control generic Enable Participant at 15,12 sized 9,8
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Palace Station
button is bicolor square
button mode=Select Host(Master)
hall name=PalaceStation
control done

control generic Enable Participant at 25,12 sized 9,8
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Santa Fe Station
button is bicolor square
next page=-- NONE -- 
button mode=Select Host(Master)
hall name=SantaFeStation
control done

control generic Enable Participant at 15,22 sized 9,8
color=$FFD67F38
secondary color=$FF005700
text color=$FFFFFFFF
text=Reset Host
button is bicolor square
next page=-- NONE -- 
button mode=Disable Host(Master)
control done

control generic page/Page Changer at 27,26 sized 7,7
color=$FF801800
secondary color=$FFF9A5A5
text color=$FFFFFFFF
text=Change Page
button is bicolor square
next page=next
control done

control generic Task at 15,32 sized 8,6
color=$FF000080
text color=$FFFFFFFF
text=Prohit Hall Participation
button is bicolor square
next page=Probit
name=Prohit Hall Participation
path=.
launch at screenX by screenY
restart No
Task Done
control done

control generic page/Page Changer at 2,23 sized 9,7
color=$FF008000
text color=$FFFFFFFF
text=Open Session Announcement
button is bicolor square
next page=Open Session Announcement
control done

control generic page/Page Changer at 2,32 sized 9,6
color=$FF008000
text color=$FFFFFFFF
text=Close Session Announcement
button is bicolor square
next page=Close Session Announcement
control done

page titled Another Page
#background color $0
background image Close Session Announcement
control generic page/Page Changer at 25,29 sized 6,8
color=$FF008000
text color=$FFFFFFFF
text=Change Page
button is bicolor square
next page=Third Page
control done

control generic page/Page Changer at 33,30 sized 5,7
color=$FFBD5FAD
secondary color=$FF000000
text color=$FFFFFFFF
text=Start Over
button is bicolor square
next page=first
control done

control generic Task at 12,7 sized 14,12
color=$FF000080
text color=$FFFFFFFF
text=Switch To Localmode
button is bicolor square
next page=first
name=Switch To Localmode
path=c:/ftn3000/bin32/launchpad
program=launchcmd
args=/usr/src/FortuNet/localmode
launch at screenX by screenY
restart No
Task Done
control done

control generic page/Page Changer at 4,22 sized 9,7
color=$FF008000
text color=$FFFFFFFF
text=Open Session Announcement
button is bicolor square
next page=Open Session Announcement
control done

control generic page/Page Changer at 4,31 sized 9,7
color=$FF008000
text color=$FFFFFFFF
text=close Session Announcement
button is bicolor square
next page=Close Session Announcement
control done

page titled Third Page
#background color $0
background image ScrollBar
control generic page/Page Changer at 28,30 sized 9,8
color=$FF008000
text color=$FFFFFFFF
text=Change Page
button is bicolor square
next page=first
control done

control generic page/Page Changer at 4,5 sized 10,7
color=$FF008000
text color=$FFFFFFFF
text=Open Session Annoncement
button is bicolor square
next page=Open Session Announcement
control done

control generic page/Page Changer at 4,14 sized 10,7
color=$FF008000
text color=$FFFFFFFF
text=Close Session Announcement
button is bicolor square
next page=Close Session Announcement
control done

page titled Probit
#background color $0
background image seatosky5.jpg
control generic Enable Participant at 5,3 sized 9,9
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Boulder Station
button is bicolor square
button mode=Prohibited Mode
hall name=BoulderStation
control done

control generic Enable Participant at 15,3 sized 9,9
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Texas Station
button is bicolor square
next page=-- NONE -- 
button mode=Prohibited Mode
hall name=TexasStation
control done

control generic Enable Participant at 25,3 sized 9,9
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Santa Fe Station
button is bicolor square
button mode=Prohibited Mode
hall name=SantaFeStation
control done

control generic Enable Participant at 5,13 sized 9,9
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Sunset Station
button is bicolor square
button mode=Prohibited Mode
hall name=SunsetStation
control done

control generic Enable Participant at 15,13 sized 9,9
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Red Rock
button is bicolor square
next page=-- NONE -- 
button mode=Prohibited Mode
hall name=RedRock
control done

control generic Enable Participant at 25,13 sized 9,9
color=$FF000080
secondary color=$FF000000
text color=$FFFFFFFF
text=Palace Station
button is bicolor square
next page=-- NONE -- 
button mode=Prohibited Mode
hall name=PalaceStation
control done

control generic Task at 15,23 sized 9,8
color=$FF000080
text color=$FFFFFFFF
text=Goto Start
button is bicolor square
next page=first
name=Goto Start
path=.
launch at screenX by screenY
restart No
Task Done
control done

page titled Open Session Announcement
#background color $0
background image seatosky5.jpg
control generic Task at 4,7 sized 9,7
color=$00007400
text color=$FFFFFFFF
text=Announcer Open Session
button is bicolor square
next page=Third Page
name=Announcer Open Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=announcer_open.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 16,7 sized 9,7
color=$00008C08
text color=$FFFFFFFF
text=Carson Open Session
button is bicolor square
next page=Third Page
name=Carson Open Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=carson_open.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 28,7 sized 9,7
color=$00006C00
text color=$FFFFFFFF
text=Nicholson Open Session
button is bicolor square
next page=Third Page
name=Nicholson Open Session
path=$HOME/testbed/bin/debug-red
program=announcemen
args=nicholson_open.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 4,16 sized 9,7
color=$00007804
text color=$FFFFFFFF
text=Stallone Open Session
button is bicolor square
next page=Third Page
name=Stallone Open Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=stallone_open.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 16,16 sized 9,7
color=$00008800
text color=$FFFFFFFF
text=Stewart Open Session
button is bicolor square
next page=Third Page
name=Stewart Open Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=stewart_open.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 28,16 sized 9,7
color=$00007C04
text color=$FFFFFFFF
text=Swartzenegger Open Session
button is bicolor square
next page=Third Page
name=Swartzenegger Open Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=swartzenegger_open.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic page/Page Changer at 27,28 sized 10,6
color=$00A80800
text color=$FFFFFFFF
text=Cancel Annoucncement
button is bicolor square
next page=first
control done

page titled Close Session Announcement
#background color $0
background image Third Page
control generic Task at 4,5 sized 9,7
color=$004C0048
text color=$FFFFFFFF
text=Annoncer Close Session
button is bicolor square
next page=Third Page
name=Annoncer Close Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=announcer_close.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 16,5 sized 9,7
color=$FF3C003C
text color=$FFFFFFFF
text=Carson Close Session
button is bicolor square
next page=Third Page
name=Carson Close Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=carson_close.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 27,5 sized 9,7
color=$004C004C
text color=$FFFFFFFF
text=Nicholson Close Session
button is bicolor square
next page=Third Page
name=Nicholson Close Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=nicholson_close.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 4,14 sized 9,7
color=$0054004C
text color=$FFFFFFFF
text=Stallone Close Session
button is bicolor square
next page=Third Page
name=Stallone Close Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=stallone_close.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 16,14 sized 9,7
color=$00480034
text color=$FFFFFFFF
text=Stweart Close Session
button is bicolor square
next page=Third Page
name=Stewart Close Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=stewart_close.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic Task at 27,14 sized 9,7
color=$00480044
text color=$FFFFFFFF
text=Swartzenegger Close Session
button is bicolor square
next page=Third Page
name=Swartzenegger Close Session
path=$HOME/testbed/bin/debug-red
program=announcement
args=swartzenegger_close.ogg
launch at screenX by screenY
restart No
Task Done
control done

control generic page/Page Changer at 26,28 sized 11,6
color=$00800000
text color=$FFFFFFFF
text=Cancel Announcement
button is bicolor square
next page=Third Page
control done

