[config]
page layout 5 by 5



DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=

round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

square button glare=#glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=#images/.png

bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png


font preset Item Price Font={8100bdkig1000000000000000o1000w600000000000000whccTNAEFN14AsF56r08lpDl7rx970KYypLV6tPZioOBmoIV2tQp60}
font preset Label Font={c100bdkig90000g0000000000M2000Md00003000000000whccTNAEFN1cQrR9nqB978elSt08QrIh60KYypLV6tPZOoLlDsyhCbQhDp0000}
Link State ODBC DSN=station_link
Link Master Color $65295E41
Link No Master Color $FF3C070C
Link Participant Color $CFD8C3AA
Link Delegate Color $FF5F004D
ping target=172.20.22.21
ping target=172.20.22.22
#Command Shell
#program=cmd.exe
#path=c:\ftn3000\working
#args=


#auto caller task
#  define a standard task here with program=, path=, and optional args=
#  auto caller tasks run when the caller comes up - good time for synctime.


#auto task
#  define a standard task here with program=, path=, and optional args=
#  auto tasks run as soon before the menu displays.


wait for caller? no

#background color $0
background image images/casino/station/stations-bkg.png
control generic Enable Participant at 5,20 sized 9,8
color=$CFD8C3AA
secondary color=$FF00FF00
text color=$FFFFFFFF
button is bicolor square
image=images/logos/boulderstation.png
button mode=Enable Link
hall name=BoulderStation
control done

control generic Enable Participant at 5,12 sized 9,8
color=$CFD8C3AA
secondary color=$FF00FF00
text color=$FFFFFFFF
button is bicolor square
image=images/logos/texasstation.png
button mode=Enable Link
hall name=TexasStation
control done

control generic Enable Participant at 25,12 sized 9,8
color=$CFD8C3AA
secondary color=$FF00FF00
text color=$FFFFFFFF
button is bicolor square
image=images/logos/sunsetstation.png
next page=-- NONE --
button mode=Enable Link
hall name=
control done

control generic Enable Participant at 15,12 sized 9,8
color=$65295E41
secondary color=$FF0000FF
text color=$FFFFFFFF
button is bicolor square
image=images/logos/redrock.png
next page=-- NONE --
button mode=Enable Link
hall name=RedRock
control done

control generic Enable Participant at 25,20 sized 9,8
color=$CFD8C3AA
secondary color=$FF00FF00
text color=$FFFFFFFF
button is bicolor square
image=images/logos/palacestation.png
button mode=Enable Link
hall name=PalaceStation
control done

control generic Enable Participant at 15,20 sized 9,8
color=$CFD8C3AA
secondary color=$FF00FF00
text color=$FFFFFFFF
button is bicolor square
image=images\\logos\\santafestation.png
button mode=Enable Link
hall name=SantaFeStation
control done

control generic Enable Participant at 15,30 sized 9,8
color=$FFA6753A
secondary color=$FF000000
text color=$FFFFFFFF
text=End_Jumbo_Link
button is bicolor square
next page=-- NONE --
button mode=Disconnect Old Style
hall name=
control done

control generic Task at 25,30 sized 9,8
color=$FFDFCDB2
secondary color=$FF683E00
text color=$FF000000
text=Prohibit_Participants
button is bicolor square
next page=Probit
path=.
launch at screenX by screenY
restart No
Task Done
control done

control generic Text Label at 8,8 sized 23,3
color=$FFF7F7F7
font name=Label Font
label=%Host Mode Select
control done

control generic Quit POS at 5,30 sized 9,8
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

page titled Probit
#background color $0
background image images/casino/station/stations-bkg.png
control generic Enable Participant at 5,12 sized 9,8
color=$CFD8C3AA
secondary color=$FF000000
text color=$FFFFFFFF
button is bicolor square
image=images/logos/boulderstation.png
button mode=Prohibited Mode
hall name=BoulderStation
control done

control generic Enable Participant at 15,12 sized 9,8
color=$CFD8C3AA
secondary color=$FF000000
text color=$FFFFFFFF
button is bicolor square
image=images/logos/texasstation.png
button mode=Prohibited Mode
hall name=TexasStation
control done

control generic Enable Participant at 25,21 sized 9,8
color=$CFD8C3AA
secondary color=$FF000000
text color=$FFFFFFFF
button is bicolor square
image=images/logos/santafestation.png
next page=-- NONE --
button mode=Prohibited Mode
hall name=SantaFeStation
control done

control generic Enable Participant at 25,12 sized 9,8
color=$CFD8C3AA
secondary color=$FFF1769D
text color=$FFFFFFFF
button is bicolor square
image=images/logos/sunsetstation.png
next page=-- NONE --
button mode=Prohibited Mode
hall name=
control done

control generic Enable Participant at 5,21 sized 9,8
color=$65295E41
secondary color=$FFCC6007
text color=$FFFFFFFF
button is bicolor square
image=images/logos/redrock.png
button mode=Prohibited Mode
hall name=RedRock
control done

control generic Enable Participant at 15,21 sized 9,8
color=$CFD8C3AA
secondary color=$FF000000
text color=$FFFFFFFF
button is bicolor square
image=images/logos/palacestation.png
button mode=Prohibited Mode
hall name=PalaceStation
control done

control generic Task at 25,30 sized 9,8
color=$FF000089
secondary color=$FF000000
text color=$FFFFFFFF
text=Goto Start
button is bicolor square
next page=first
path=.
launch at screenX by screenY
restart No
Task Done
control done

control generic Text Label at 14,8 sized 16,3
color=$FFF7F7F7
font name=Label Font
label=Disable Hall
control done

page titled Temp Page
#background color $0
background image seatosky5.jpg
control generic Ping Status Graph at 4,1 sized 27,14
graph line server:'172.20.22.21' status:'Ping Max' color:$80FF0000
graph line server:'172.20.22.22' status:'Ping Max' color:$80FFFFFF
graph timespan:30000
control done

control generic Caller/Flashboard at 5,17 sized 22,13
color=$FF000080
text color=$FFFFFFFF
button is DEFAULT
control done

control generic page/Page Changer at 29,28 sized 8,7
color=$FF008000
text color=$FFFFFFFF
text=Startup
button is DEFAULT
next page=first
control done

