round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

square button glare=\#glare.jpg
square button up=images/default-Lens.png
square button down=images/Pressed-Lens.png
square button mask=images/colorlayer.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


font preset Item Price Font=[8100bdkig1000000000000000o1000w600000000000000wJ2ZNDiZQN14AsF56r08lpDl7rx970KYypLV6tP.1ioOBmoIV2tQp60}
font preset Label Font=[c100bdkig90000g0000000000M2000Md00003000000000wJ2ZNDiZQN1cQrR9nqB978elSt08QrIh60KYypLV6tP.1OoLlDsyhCbQhDp0000}
Link State ODBC DSN=MySQL
Link Master Color $FF0000E1
Link No Master Color $00000000
Link Participant Color $FF77967C
Link Delegate Color $00000000
Seconds Between Keypresses 6
# Begin XML Expirament
# 

page layout 40 by 40
#background color $0
background image images/logos/green.jpg
control generic Enable Participant at 14,4 sized 12,12
button mode=Enable Link
hall name=ace
color=$FF0000E1
secondary color=$FF0000FF
text color=$FFFFFFFF
button is bicolor square
image=images/logos/ace_Scaled.png
control done

control generic Enable Participant at 27,4 sized 12,12
button mode=Enable Link
hall name=acd
color=$FF77967C
secondary color=$FF3F0A0A
text color=$FFFFFFFF
button is bicolor square
image=images/logos/acd_Scaled.png
control done

control generic Enable Participant at 5,30 sized 9,8
button mode=Disable Host(Master)
hall name=
color=$FFD67F38
secondary color=$FF005700
text color=$FFFFFFFF
text=Reset
button is bicolor square
control done

control generic Task at 1,9 sized 9,8
color=$FFDFCDB2
secondary color=$FF683E00
text color=$FF000000
text=Prohibit Hall_Participation
button is bicolor square
next page=Probit
control done

control generic Text Label at 11,0 sized 29,4
color=$FFF7F7F7
align center?off
align right?off
align vertical?off
align inverted?off
font name=Label Font
label=%Host Mode Select
control done

control generic Controller DVD Active at 11,20 sized 7,7
Hall ID 12
color=$FFCC6007
secondary color=$FF000000
text color=$FFFFFFFF
text=acd
button is bicolor square
next page=-- NONE --
control done

control generic Controller DVD Active at 22,20 sized 7,7
Hall ID 0
color=$FFCC6007
secondary color=$FF000000
text color=$FFFFFFFF
text=All_Halls_OFF
button is bicolor square
next page=-- NONE --
control done

control generic Controller DVD Active at 30,20 sized 7,7
Hall ID -1
color=$FFCC6007
secondary color=$FF000000
text color=$FFFFFFFF
text=All_Halls_ON
button is bicolor square
next page=-- NONE --
control done

control generic Controller DVD Active at 4,20 sized 7,7
Hall ID 11
color=$FFCC6007
secondary color=$FF000000
text color=$FFFFFFFF
text=ace
button is bicolor square
next page=-- NONE --
control done

control generic Text Label at 14,16 sized 11,3
color=$00000000
align center?on
align right?off
align vertical?off
align inverted?off
label=%<Hall State:ace>
control done

control generic Text Label at 27,16 sized 11,3
color=$00000000
align center?on
align right?off
align vertical?off
align inverted?off
label=%<Hall State:acd>
control done

control generic Text Label at 4,27 sized 7,2
color=$00000000
align center?on
align right?off
align vertical?off
align inverted?off
label=%<DVD:ace>
control done

control generic Text Label at 11,27 sized 7,2
color=$00000000
align center?on
align right?off
align vertical?off
align inverted?off
label=%<DVD:acd>
control done

control generic Text Label at 1,0 sized 9,3
color=$00000000
align center?off
align right?off
align vertical?off
align inverted?off
label=%KeypressGuard
control done

page titled Probit
page layout 40 by 40
#background color $0
background image images/logos/azceast.jpg
control generic Enable Participant at 5,12 sized 9,8
button mode=Prohibited Mode
hall name=ace
color=$FF0000E1
secondary color=$FFCC6007
text color=$FFFFFFFF
button is bicolor square
image=images/logos/ace.png
control done

control generic Enable Participant at 15,12 sized 9,8
button mode=Prohibited Mode
hall name=acd
color=$FF77967C
secondary color=$FF000000
text color=$FFFFFFFF
button is bicolor square
image=images/logos/acd.png
next page=-- NONE --
control done

control generic Task at 25,30 sized 9,8
color=$FF000089
secondary color=$FF000000
text color=$FFFFFFFF
text=Goto Start
button is bicolor square
next page=first
control done

control generic Text Label at 14,8 sized 16,3
color=$FFF7F7F7
align center?off
align right?off
align vertical?off
align inverted?off
font name=Label Font
label=Disable Hall
control done

Canvas Done
